<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iti.mobilenative.covid19monitoring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.countries.view.MainActivity">

        </activity>
        <!--<activity android:name=".features.selectedCountries.view.SubscribeActivity" />
        <activity android:name=".features.statistics.view.StatisticsActivity" /> -->
        <activity android:name=".features.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false" />
    </application>

</manifest>